%%-*- mode: erlang -*-
{deps, [
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.6.1"}}},
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.3.1"}}},
    {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {tag, "0.9"}}},

	{gexf, ".*", {git, "git://github.com/arcusfelis/gexf.git", "master"}},
	{gitto, ".*", {git, "git://github.com/arcusfelis/gitto.git", "master"}},
    {seqbind, ".*", {git, "git://github.com/spawngrid/seqbind.git", "HEAD"}},
    {ex_reloader, ".*", {git, "git://github.com/extend/ex_reloader.git", "master"}}
]}.

{erl_opts, [{parse_transform, lager_transform}]}.
